.validationError{
    color: red;
    /* display: none; */ 
    display: block;
    font-weight: bold;
}

.show{
    display: block;
}

.demo {
    display: flex;
    flex-direction: column;
    align-items: center;
}